@import "../helpers/_vars";
@import "../helpers/_mixins";

.contacts {
    overflow: hidden;

    .mapBox {
        position: relative;
    }

    .map {
        position: relative;
        width: 100%;
        height: 800px;

        @media (max-width: $note) {
            height: 400px;
        }
    }

    .wrapper {
        position: relative;
        z-index: 10;

        @media (max-width: $note) {
            width: 100%;
            padding: 0;
        }
    }

    &__box {
        position: absolute;
        top: -750px;
        right: 0;

        width: 400px;
        min-height: 440px;
        padding: 80px 30px 80px 80px;
        background: #fff;
        box-shadow: 10px 10px 33px -8px rgba(0, 0, 0, 0.65);
        z-index: 10;

        @media (max-width: $note) {
            position: static;
            width: 100%;
        }

        @media (max-width: $phone-xl) {
            padding: 60px 15px 60px 30px;
        }
    }

    &__title {
        padding-bottom: 15px;
        font-size: 27px;
        line-height: 1.4;
        font-weight: 700;
        color: #626262;
        text-transform: uppercase;
    }

    &__item,
    &__time,
    address {
        padding-bottom: 15px;
        font-size: 16px;
        line-height: 1.4;
        font-weight: 300;
        color: #777;
    }

    .ask {
        font-size: 17px;
        line-height: 48px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .answer {
        padding-bottom: 20px;
        font-size: 16px;
        line-height: 1.4;
        font-weight: 500;
        color: #6a6a6a;
    }

    .btn {
        padding-left: 30px;
        padding-right: 30px;
    }
}