@import "./helpers/_vars";
@import "./helpers/_mixins";

body {
	position: relative;
	height: 100%;
	width: 100vw;
	margin: 0;
	padding-right: 0 !important;

	font-family: $ff1;
	font-size: $fs;
	font-weight: 400;
	line-height: 1.2;
	background: #fff;
	color: #000;
	overflow-x: hidden;
	overflow-y: auto;

	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
	text-size-adjust: none;
	text-rendering: optimizeLegibility;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	    background-color: #F5F5F5;
	}
	&::-webkit-scrollbar {
	    width: 2px;
	}
	&::-webkit-scrollbar-thumb {
	    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
	    background-color: blue;
	}
}

*::selection {
	background-color: #6b6c70;
	color: #fff;
}

*,
:after,
:before {
	box-sizing: border-box;
}



// .b-lazy {
// 	transition: opacity .5s linear;
// 	max-width: 100%;
// 	opacity: 0;
// }
// .b-lazy.b-loaded {
// 	opacity: 1;
// }

// ol, ul {
// 	list-style: none;
// }