$phone: 375px;
$phone-xl  : 479px;
$note      : 767px;
$tablet    : 1024px;
$laptop    : 1366px;
$desktop   : 1680px;
$desktop-xl: 1920px;


$ff1: "Roboto",
serif;
$fs: 18px;


// $placeholder-color: red;

// $input-border-width : 1px;
// $input-border-style : solid;
// $input-border-color : red;
// $input-border-radius: 4px;

// $btn-border-width: 1px;
// $btn-border-style: solid;
// $btn-border-color: red;
// $btn-border-radius: 4px;