<header class="header">
    <div class="wrapper">

        <a href="/" class="l" >
            <img src="" alt="" title="" class=""/>
        </a>

        <a href="tel:+380684404393">+38 068 440 43 93</a>

        <div>HEADEEEEEEEEEEEERRRRRRRRRRRR
        </div>

        {# <button class="burger">
            <h2 class="offscreen">Навигационное меню</h2>
            <i></i>
        </button> #}

        ICONS
        {{mixins.icon('telegramas')}}

        <button class="btn" data-remodal-target="callback">touch me</button>
    </div>

</header>

<!-- {# MASK #} -->
<!-- <svg class="mask">
    <clipPath id="figure">
        <path
            d="M1030.5.5h-825l-172,399a196.88,196.88,0,0,0-10,34c-26.29,132.82,94.26,262.23,332,511h0a163.38,163.38,0,0,0,42,29c52.07,24.81,104.53,14.31,127,10,76.5-14.68,257-44.32,499.18-88l5.82-1Z" />
    </clipPath>
</svg> -->

<!-- {# LETTER #} -->
<!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.56 71.7">
    <text transform="translate(.5 52.35)" font-size="61" stroke-miterlimit="10" font-family="Geometria-Heavy,Geometria"
        font-weight="800">
        1
    </text>
</svg> -->

<!-- <svg class="jelly-circle-svg" style="display: none" width="434" height="500" viewbox="0 0 433.0127018922193 500">
    <path id="round" d="M216.50635094610965 0L433.0127018922193 125L433.0127018922193 375L216.50635094610965 500L0 375L0 125Z"></path>
</svg>

<canvas class="jelly about__img" width="434" height="500"></canvas> -->